<section data-ng-controller="HomeController">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <img alt="logo" class="img-responsive text-center" src="modules/core/img/brand/logoresize.png"/>
            </div>
        </div>
        <br>

        <div class="row">
            <p class="muted">
                The Ultimate App For All Your Meal Planning Needs
            </p>
        </div>
        <div class="row">
            <p>
                <a class="btn btn-primary login-button" href="/#!/signin"
                   data-ng-if="!menu.shouldRender(authentication.user);">Sign In</a>
            </p>
        </div>
    </div>

    <div class="steps row">
        <div class="step one col-xs-12 col-md-4">
            <img class="circle" src="modules/core/img/brand/Pencil2.png"/>
            <h2><span class="muted">1. </span>Add Your Recipes</h2>

            <div class="description muted">Add recipes from your own personal cookbook, or use threeaday to collect your favorite recipes from all over the web. Just enter the URL and it grabs them automatically!
            </div>
        </div>
        <div class="step two col-xs-12 col-md-4">
            <img class="circle" src="modules/core/img/brand/Clock2.png"/>
            <h2><span class="muted">2. </span>Plan Your Diet</h2>

            <div class="description muted">Use the intuitive drag and drop interface to plan out your week using the same meals you collect here on threeaday.
            </div>
        </div>
        <div class="step three col-xs-12 col-md-4">
            <img class="circle" src="modules/core/img/brand/Cake2.png"/>
            <h2><span class="muted">3. </span>Eat!</h2>
            <div class="description muted">It's that simple.
                <span data-ng-if="!menu.shouldRender(authentication.user);">Get started by clicking Sign In above!</span>
                <span data-ng-if="menu.shouldRender(authentication.user);">Get started by clicking on the Recipes menu above!</span>
            </div>
        </div>
    </div>
</section>
