<section class="row" data-ng-controller="AuthenticationController">

    <md-card class="top-space slim-card">
        <md-toolbar class="">
            <div class="md-toolbar-tools">
                <span class="md-flex">Sign In with your Social Account</span>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <div class="col-md-12 text-center">
                <a href="/auth/facebook" class="undecorated-link">
                    <img class="auth-icon" src="/modules/users/img/buttons/facebook.png">
                </a>
                <a href="/auth/google" class="undecorated-link">
                    <img class="auth-icon" src="/modules/users/img/buttons/google.png">
                </a>
            </div>
        </md-content>
    </md-card>

    <h1 class="text-center text-muted">OR</h1>

    <md-card class=" slim-card">
        <md-toolbar class="">
            <div class="md-toolbar-tools">
                <span class="md-flex">Sign In with your Account</span>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
                <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
                    <fieldset>
                        <md-input-container>
                            <label>Username</label>
                            <input ng-model="credentials.username" >
                        </md-input-container>
                        <md-input-container>
                            <label>Password</label>
                            <input ng-model="credentials.password" type="password">
                        </md-input-container>
                        <br>
                        <div class="form-group" style="padding-left:50px;">
                            <md-button class="md-raised md-primary btn-padding" type="submit">Sign In</md-button>
                        </div>
                        <div class="form-group">
                            <md-button ng-href="/#!/password/forgot">Forgot your password?</md-button>
                        </div>
                        <div data-ng-show="error" class="text-center text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>
                </form>
            </div>
        </md-content>
    </md-card>
</section>
