<section class="row" data-ng-controller="AuthenticationController">

    <md-card class="top-space slim-card">
        <md-toolbar class="">
            <div class="md-toolbar-tools">
                <span class="md-flex">Sign Up with a Social Account</span>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <div class="col-md-12 text-center">
                <a href="/auth/facebook" class="undecorated-link">
                    <img class="auth-icon" src="/modules/users/img/buttons/facebook.png">
                </a>
                <a href="/auth/google" class="undecorated-link">
                    <img class="auth-icon" src="/modules/users/img/buttons/google.png">
                </a>
            </div>
        </md-content>
    </md-card>

    <h1 class="text-center text-muted">OR</h1>

    <md-card class=" slim-card">
        <md-toolbar class="">
            <div class="md-toolbar-tools">
                <span class="md-flex">Sign Up with your Email</span>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
                <form data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
                    <fieldset>
                        <md-input-container>
                            <label>First Name</label>
                            <input ng-model="credentials.firstName" >
                        </md-input-container>
                        <md-input-container>
                            <label>Last Name</label>
                            <input ng-model="credentials.lastName" >
                        </md-input-container>
                        <md-input-container>
                            <label>Email</label>
                            <input ng-model="credentials.email" >
                        </md-input-container>
                        <md-input-container>
                            <label>Username</label>
                            <input ng-model="credentials.username" >
                        </md-input-container>
                        <md-input-container>
                            <label>Password</label>
                            <input ng-model="credentials.password" type="password">
                        </md-input-container>
                        <br>
                        <div class="align-button">
                            <md-button class="md-raised md-primary btn-padding" type="submit">Sign Up</md-button>
                        </div>
                        <div data-ng-show="error" class="text-center text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>
                </form>
            </div>
        </md-content>
    </md-card>

</section>