.content {
	padding-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.top-space {
	margin-top: 45px;
}

.login-button {
	margin-top: 20px;
}

.steps .step .circle {
	height: 200px;
	width: 200px;
	background-color: #fff;
	border-radius: 100px;
	box-shadow: 0 8px 9px -1px #c8c8c8;
	margin: 0 auto;
}

.steps {
	margin-top: -130px;
}

.jumbotron {
	padding-bottom: 120px !important;
}

.steps .step {
	text-align: center;
	float: left;
	display: block;
	padding: 0 20px;
}

.steps .step h2 {
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 35px;
	color: #0c84e4;
	font-weight: 300;
	margin: 0;
}

.muted {
	color: gray;
}

.steps .step .description {
	font-size: 18px;
	line-height: 30px;
	padding: 0 20px;
}

.tabpanel-container {
	display: block;
	position: relative;
	background: white;
	border: 0 solid black;
	overflow: hidden;
	height: 750px;
}

[role="tabpanel"] {
	color: black;
	width: 100%;
	height: 100%;
	-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	position:absolute;
}

[role="tabpanel"].ng-leave.ng-leave-active,
[role="tabpanel"].ng-enter {
	top:-300px;
}
[role="tabpanel"].ng-leave,
[role="tabpanel"].ng-enter.ng-enter-active {
	top:0;
}

[role="tabpanel"].ng-leave {
	z-index: 100;
}

.tabpanel-container [role="tabpanel"] {
	padding:20px;
}

.slim-card {
	padding: 0;
}

.btn-padding {
	padding-left: 10px;
	padding-right: 10px;
}

.recipe-logo {
	max-width: 200px;
	padding-bottom: 20px;
}

.custom-recipe {
	padding-left: 15px;
}

md-input-group.long > input {
	width: 90%;
}

.alert-warning {
	background-color: gray;
}



.image{
	position:relative;
	overflow:hidden;
	padding-bottom:100%;
}
.image img{
	position:absolute;
}

.view-recipe-img {
	padding-left: 15px;
}

.menu-icon {
	padding-right: 25px;
}