node_modules/
public/lib/
.idea/


# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

env variables.txt
joyent_threeaday.ppk
threeaday_id_rsa
