<section data-ng-controller="MealplansController" data-ng-init="find()">
    <div class="left-recipes col-sm-3">
        <section class="md-whiteframe-z1">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 class="md-flex" style="color: white;">Recipes</h2>
                </div>
            </md-toolbar>

            <div class="recipe-bar-content">
                <md-input-container>
                    <label>Search...</label>
                    <input ng-model="search.name">
                </md-input-container>

                <div ng-repeat="recipe in filteredRecipes = recipes | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" class="panel panel-default"  ng-model="filteredRecipes" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" jqyoui-draggable="{index: {{$index}}, placeholder: 'keep'}">
                    <div class="panel-body">
                        <img  data-ng-src="{{recipe.image}}" class="meal-list-face" />
                        <p class="meal-list-text">{{ recipe.name }}</p>
                    </div>
                </div>
                <pagination direction-links="false" total-items="totalItems" ng-model="currentPage" num-pages="noOfPages" items-per-page="entryLimit" ></pagination>
            </div>
        </section>
    </div>

    <div class="right-mealplan top-space col-sm-9">
        <div class="row">
            <div class="meal-row-title col-sm-1"><p>Breakfast</p></div>

            <div class="meal-grid-item" ng-model='breakOne' data-drop="true" jqyoui-droppable="{onOver: 'onOver', onOut: 'onOut', onDrop: 'onOut'}" data-jqyoui-options="optionsbreakOne">
                <i class="fa fa-plus fa-3 add-meal-icon" ng-show="emptyBox(breakOne)"></i>
                <md-card class="meal-card" ng-repeat="meal in breakOne track by $index">
                    <a data-ng-href="#!/recipes/{{meal._id}}" ><img data-ng-src="{{meal.image}}"></a>
                    <md-card-content class="panel-footer">
                        <div class="card-text">{{ meal.name }}</div>
                    </md-card-content>
                </md-card>
            </div>

            <div class="meal-grid-item" ng-model='breakTwo' data-drop="true" jqyoui-droppable="{onOver: 'onOver', onOut: 'onOut', onDrop: 'onOut'}" data-jqyoui-options="optionsbreakTwo">
                <i class="fa fa-plus fa-3 add-meal-icon" ng-show="emptyBox(breakTwo)"></i>
                <md-card class="meal-card" ng-repeat="meal in breakTwo track by $index">
                    <a data-ng-href="#!/recipes/{{meal._id}}" ><img data-ng-src="{{meal.image}}"></a>
                    <md-card-content class="panel-footer">
                        <div class="card-text">{{ meal.name }}</div>
                    </md-card-content>
                </md-card>
            </div>

            <div class="meal-grid-item"> </div>
            <div class="meal-grid-item"> </div>
            <div class="meal-grid-item"> </div>
        </div>
        <div class="row">
            <div class="meal-row-title col-sm-1"><p>Lunch</p></div>
            <div class="meal-grid-item"> </div>
            <div class="meal-grid-item"> </div>
            <div class="meal-grid-item"> </div>
            <div class="meal-grid-item"> </div>
            <div class="meal-grid-item"> </div>
        </div>
        <div class="row">
            <div class="meal-row-title col-sm-1"><p>Dinner</p></div>
            <div class="meal-grid-item"> </div>
            <div class="meal-grid-item"> </div>
            <div class="meal-grid-item"> </div>
            <div class="meal-grid-item"> </div>
            <div class="meal-grid-item"> </div>
        </div>
    </div>

</section>