<section data-ng-controller="RecipesController" data-ng-init="find()">
    <!--<div class="page-header">-->
        <!--<h1>Recipes</h1>-->
    <!--</div>-->

    <md-input-container>
        <label>Search...</label>
        <input ng-model="searchName" ng-change="updateFilter(searchName)" class="long">
    </md-input-container>

    <div deckgrid class="deckgrid" source="recipes">

        <md-card>
            <a data-ng-href="#!/recipes/{{card._id}}" ><img data-ng-src="{{card.image}}"></a>
            <md-card-content class="panel-footer">
                <div class="card-text">{{card.name}}</div>
            </md-card-content>
        </md-card>
    </div>


    <div class="alert alert-warning text-center" data-ng-hide="!recipes.$resolved || recipes.length">
        No Recipes yet, why don't you <a href="/#!/recipes/create">create one</a>?
    </div>
</section>