.md-toolbar-tools {
    color: white;
}

.meal-nav {
    margin-top: 14px;
}

@media only screen and (max-width: 959px) {
    .meal-nav {
        margin-top: 64px;
    }
}


.left-recipes {
    float: left;
}

.right-mealplan {
    float: left;
}

md-whiteframe {
    background: #fff;
    margin: 20px;
    padding: 20px;
}

.face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    margin: 16px;
}

.recipe-bar-content {
    padding: 15px;
}

.meal-grid-item {
    position: relative;
    display: inline-block;
    margin: 1.25em 1% 1% 1%;
    width: 15%;
    height: 10em;
    border-radius: 4px;
    background: rgba(0,0,0,0.1)
}

.meal-row-title > p {
    position: relative;
    top: 50%;
    margin-bottom: 0;
    transform: translateY(-50%);

}

.meal-row-title {
    height: 10em;
    margin: 1.25em 1% 1% 1%;
}

.modify-full-width {
    width: 100% !important;
    margin: 0 0 0 0 !important;
}